.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container {
  display: inline-block;
  width: 200px;
  text-align: center;
  border-width: 3px;
  border-color: #000000;
  border-style: double;
  margin: 5px;
  background: #ffffff;
}


.table {
  text-align: center;
  border: #000000;
  border-style: solid;
  padding: 2px;
  background: #fafafa;
}
.box1 {
  text-align: center;
  border: #ffffff;
  border-style: solid;
  padding: 2px;
  background: #c9c7c7f1;
}
.box2 {
  text-align: center;
  border: #ffffff;
  border-style: solid;
  padding: 2px;
  background: #e09728;
}
.box3 {
  text-align: center;
  border: #ffffff;
  border-style: solid;
  padding: 2px;
  background: #67d467;
}
.box4 {
  text-align: center;
  border: #ffffff;
  border-style: solid;
  padding: 2px;
  background: #ff1111;
}

.card {

}

.card-containerr {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10;
  background-color: rgb(255, 255, 255);
  text-align: center ;
  width: 270px;
  height: 150px;
}

.card1-container {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10;
  background-color:rgb(255, 255, 255);
  text-align: center ;
  width: 270px;
  height: 150px;
} 



.card2-container {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10;
  background-color:rgb(255, 255, 255);
  text-align: center ;
  width: 270px;
  height: 150px;

} 
.center{
  display: flex;
  justify-content: center;
}
